/*
Theme Name: Zox News Child
Theme URI: http://themeforest.net/user/mvpthemes
Description: Zox News helps you go from blogger to boss by giving you a wide range of tools and options to give you the most professional-looking and functioning news site on the net. Zox News comes with a mobile-first-design, 8 article layouts, 4 Featured Posts layouts, parallax leaderboard ad, Theia Post Slider, Theia Sticky Sidebar, Reviewer Plugin, Woocommerce-ready, and so much more!
Author: Andre Maj
Author URI: https://vermoegen.org
Template: zox-news
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain: zox-news-child
*/

.zox-child-text-section {
    padding: 0.625rem 0;
}

.zox-child-text-section * {
    font-family: 'PT Serif', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
}

.zox-child-text-section h1,
.zox-child-text-section h2,
.zox-child-text-section h3,
.zox-child-text-section h4,
.zox-child-text-section h5,
.zox-child-text-section h6 {
    margin-bottom: 0.625rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.1;
}

.zox-child-text-section h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.zox-child-text-section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.zox-child-text-section h3 {
    font-size: 1.2rem;
}

.zox-child-text-section h4 {
    font-size: 1rem;
}

.zox-child-text-section h5 {
    font-size: 0.875rem;
}

.zox-child-text-section h6 {
    font-size: 0.75rem;
    margin-bottom: 0.625rem;
}

.zox-child-text-section p {
    margin-bottom: 0.625rem;
}

.zox-child-text-section strong {
    font-weight: 700;
}

.zox-child-text-section ul {
    list-style: disc;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
}

.zox-child-text-section ol {
    list-style: initial;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
}

.zox-child-top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.zox-child-top-list.asc-dir {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.zox-child-top-list-item a {
    color: #000;
}

/* Hide time on posts */
.mvp-cat-date-wrap .mvp-cd-date {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Net worth table CSS */
#mvp-content-main .zox-child-single-table {
    margin-bottom: 1em;
    border: none;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
}

#mvp-content-main .zox-child-single-table td,
#mvp-content-main .zox-child-single-table th {
    padding: 5px 1.5%;
    border: none;
    background: 0 0;
    text-align: left;
    float: none!important;
}

#mvp-content-main .zox-child-single-table thead th {
    border-bottom: 1px solid #ddd;
}

#mvp-content-main .zox-child-single-table tfoot th,
#mvp-content-main .zox-child-single-table thead th {
    margin-top: 0;
    background-color: #111;
    font-weight: 600;
    color: #fff;
    vertical-align: middle;
}

#mvp-content-main .zox-child-single-table tbody td {
    vertical-align: top;
}

#mvp-content-main .zox-child-single-table tbody td,
#mvp-content-main .zox-child-single-table tfoot th {
    border-top: 1px solid #ddd;
}

#mvp-content-main .zox-child-single-table tbody tr:nth-child(even) td {
    background-color: #fff;
}

#mvp-content-main .zox-child-single-table tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

#mvp-content-main .zox-child-single-table tbody tr:first-child td {
    border-top: 0;
}

#mvp-content-main .zox-child-single-table tbody tr:hover td {
    background-color: #f3f3f3;
}

/* Single post text CSS */
#mvp-content-main p,
.mvp-post-add-main p {
	 font-size: 1.3125rem;
}

#mvp-content-main ul,
#mvp-content-main ol,
.mvp-post-add-main ul,
.mvp-post-add-main ol {
	 font-size: 1.125rem;
}

#mvp-content-main p,
#mvp-content-main ul,
#mvp-content-main ol,
.mvp-post-add-main p,
.mvp-post-add-main ul,
.mvp-post-add-main ol {
    line-height: 2.11;
}

#mvp-content-main .zox-child-top-list p a {
    box-shadow: none;
}

/* Hide the date of publication */
.mvp-author-info-text .mvp-author-info-date {
    display: none;
}

.mvp-main-blog-cont {
    z-index: 2;
}

/* Fixing of links on the pages */
/* @media (max-width: 478.98px) {
    .mvp-blog-story-col > a,
    .mvp-post-more-list > a,
    .mvp-related-posts-list > a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
} */

/* Footer CSS */
footer#mvp-foot-wrap {
    background-color: #4AC9E3;
}

footer #mvp-foot-bot {
    background-color: #4AC9E3;
}

footer #mvp-foot-copy p {
    color: #333;
}

/* Comments CSS */
#mvp-comments-button {
    display: none;
}

#mvp-comments-button + #comments {
    display: block;
}

/* Navigation logo */
#mvp-fly-logo img {
    width: auto;
}

/* Single post heading */
h1.mvp-post-title {
    font-size: 2.1875rem;
}

/* Hide the last link in the table of contents */
.ez-toc-link[href*="#Hat_Ihnen_dieser_Ratgeber_weitergeholfen"] {
    display: none;
}

/* Expert tip block styles */
#mvp-content-main .expert-block {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: #F4FCDC;
    border: 1px solid #E5E7E2;
    border-radius: 3px;
}

#mvp-content-main .expert-block h3 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mvp-content-main .expert-block h3::after {
    display: inline-block;
    content: "";
    margin-left: auto;
    width: 70px;
    height: 70px;
    background: transparent url('images/expertentipp.png') no-repeat center center/contain;
}

@media screen and (max-width: 767.98px) {
    #mvp-content-main p,
    .mvp-post-add-main p {
        font-size: 1.125rem;
    }

    #mvp-content-main ul,
    #mvp-content-main ol,
    .mvp-post-add-main ul,
    .mvp-post-add-main ol {
        font-size: 1rem;
    }

    #mvp-content-main .zox-child-single-table {
        font-size: 1.25rem;
    }
}

@media (max-width: 478.98px) {
	#mvp-content-body #mvp-content-main p,
    .mvp-post-add-main p {
        font-size: 1.125rem;
    }

    #mvp-content-body #mvp-content-main ul,
    #mvp-content-body #mvp-content-main ol,
    .mvp-post-add-main ul,
    .mvp-post-add-main ol {
        font-size: 1rem;
    }
}
/**
Alex L Start
 */
#comments .c p {
    color: #444;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.category-title {
	padding: 0.625rem 0;
}
.category-title h1{
	font-size: 2rem;
	margin-bottom: 0.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 1.1;
}
.category-title p{
	margin-bottom: 0.625rem;
	font-family: 'PT Serif', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.4;
}
.mvp-main-blog-in + #mvp-side-wrap{
	padding-top: 20px;
}
.mvp-prev-next-text p{
	min-height: 48px;
}
.mvp-prev-next-text img{
	width: 100% !important;
	height: 150px !important;
	object-fit: cover;
	object-position: top; 
}
.category-title h1 {
	font-size: 1.5rem;
}
#mvp-fly-soc-wrap{
	display: none;
}
body amp-sidebar{
	overflow-y: hidden !important ;
}
nav.mvp-fly-nav-menu{
	height: calc(100vh - 100px) !important;
	overflow-y: auto;
}
amp-sidebar{
	overflow: hidden !important;
}
.open-menu{
	overflow: hidden !important
}
@media only screen and (max-width: 1003px) {
	header .mvp-nav-top-mid img {
		height: 41px !important;
		width: 180px;
	}
	.mvp-fly-but-wrap span:nth-child(3){
		display: none;
	}
	.mvp-fly-but-wrap span:nth-child(2), 
	.mvp-fly-but-wrap span:nth-child(4){
		width: 100%;
	}
	.mvp-fly-but-wrap:after{
		display: block;
		width: 100%;
		margin-top: auto;
		content: 'menü';
		font-family: sans-serif;
		font-size: 9px;
		font-weight: 900;
		color: inherit;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.2;
	}
	
	.mvp-fly-but-wrap{
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		flex-direction: column;
		position: static !important;
		margin-top: 0 !important;
		height: auto !important;
		width: 44px;
		height: 44px !important;
		border: 2px solid #333;
		padding:8px 5px 4px;
		border-radius: 8px;
		box-sizing: border-box;
	}
	.mvp-fly-but-wrap span{
		width: 100%;
		position: static !important;
		margin-bottom: 3px;
	}
	#mvp-fly-wrap .mvp-fly-but-wrap{
		margin: 5px 0 0 !important;
	}
	.mvp-fly-but-wrap.mvp-fly-open span:nth-child(4),
	.mvp-fly-but-wrap.mvp-fly-open span:first-child{
		display: none;
	}
	.mvp-fly-but-wrap.mvp-fly-open span:nth-child(2){
		top: 5px;
	}
	.mvp-fly-but-wrap.mvp-fly-open span:nth-child(3){
		display: block;
		top: 0;
	}
	.mvp-fly-but-wrap.mvp-fly-open span{
		position: relative !important;
		width: 25px !important;
		left: 2px;
	}
	.mvp-main-box {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
	}
	.mvp-nav-top-left{
		top: 0px;
	}
	body #mvp-main-nav-top{
		height: 44px !important;
	}
	body .mvp-nav-top-wrap,
	body .mvp-nav-top-mid {
		height: 44px !important;
	}
	.mvp-nav-top-right {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
	}
}
@media only screen and (max-width: 899px) {
	#mvp-post-content img{
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	h1.mvp-post-title.left.entry-title{
		font-size: 25px !important;
	}
	#mvp-content-body #mvp-content-main p,
	.mvp-post-add-main p{
		font-size: 19px !important; 
	}
	nav.mvp-fly-nav-menu{
		height: calc(100vh - 200px) !important;
		overflow-y: auto;
		max-height: calc(100vh - 200px) !important;
	}
	html{
		overflow: inherit;
	}
	
}
@media only screen and (max-width: 599px) {
	.mvp-prev-next-text img{
		height: 45.910vw !important;
	}
}

.wp-pagenavi {
    clear: both;
    display: inline-block;
    position: relative;
    font-size: .8rem;
    font-weight: 700;
    line-height: 100%;
    padding: 0;
    text-transform: uppercase;
}
.wp-pagenavi span, .wp-pagenavi a {
    background: #fff;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #aaa;
    display: block;
    float: left;
    font-size: .8rem;
    font-weight: 400;
    margin: 2px 5px 2px 0;
    padding: 9px 12px 8px;
    text-decoration: none;
    width: auto;
}
.wp-pagenavi .current, .wp-pagenavi a:hover {
    background: #aaa;
    border-color: inherit !important;
    color: #fff;
}
.comment-form-author input {
    width: 100% !important;
    height: 36px;
    box-sizing: border-box;
	padding: 0 15px;
}
.comment-form-comment textarea{
	resize: none;
	width: 100% !important;
	box-sizing: border-box;
	padding: 10px 15px;
}
.comment-form-cookies-consent label{
	margin-left: 5px;
}
.comment-form-cookies-consent {
    display: flex;
    flex-direction: row;
}
.comment-form-author input:focus-visible,
.comment-form-comment textarea:focus-visible{
	box-shadow: none !important;
	outline:none !important;
} 
.form-submit input[type="submit"],
.comment-form-author label,
.comment-form-comment label{
	font-size: 18px !important;
}
.form-submit input[type="submit"]{
	background-color: #88c057 !important;
	height: 36px;
}
.form-submit input[type="submit"]:hover{
	background:  rgba(136, 192, 87,0.6) !important;
}
#respond #submit{
	border-radius: 0 !important;
}
#comments .c p{
	font-size: 18px !important;
}
nav.mvp-fly-nav-menu{
	
}
.wp-faq-schema-wrap h3 .ez-toc-section{
	width: 50px;
	height: 50px;
	background-image: url(/wp-content/themes/zox-news-child/images/haeufige-fragen.png);
	display: inline-block;
	position: relative;
	background-size: contain;
}
/**
Alex L End
 */