/**
Alex L
 */

#comments{
	display: block;
}
#comments .c p {
	color: #444;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
nav.mvp-fly-nav-menu ul li a {
    color: #000 !important;
}
#mvp-main-head-wrap{
	position: static !important;
}

html body #mvp-fly-wrap, 
html body #mvp-main-nav-small-cont,
html body #mvp-main-nav-small,
html body .mvp-nav-small-cont{
	height: auto;
}
#mvp-main-nav-small{
	overflow: visible !important;
}
html body .mvp-nav-small-cont{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

html body .mvp-nav-small-mid{
	margin: 0 auto;
}
html body .mvp-fly-but-wrap span:nth-child(3){
	display: none;
}
html body .mvp-fly-but-wrap span:nth-child(2), 
html body .mvp-fly-but-wrap span:nth-child(4){
	width: 100%;
}
html body .mvp-fly-but-wrap:after{
	display: block;
	width: 100%;
	margin-top: auto;
	content: 'menü';
	font-family: sans-serif;
	font-size: 9px;
	font-weight: 900;
	color: inherit;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2;
}
html body .mvp-nav-small-cont{
	grid-column-gap: 0px;
}
html body .mvp-nav-small-logo{
	height: 44px;
}
html body .mvp-nav-small-logo a{
	display: block;
	height: 44px; 
}
.mvp-fly-but-wrap{
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	flex-direction: column;
	position: static !important;
	margin-top: 0 !important;
	height: auto !important;
	width: 44px;
	height: 44px !important;
	border: 2px solid #333;
	padding:8px 5px 4px;
	border-radius: 8px;
	box-sizing: border-box;
}
.mvp-fly-but-wrap span{
	width: 100%;
	position: static !important;
	margin-bottom: 3px;
}
#mvp-fly-wrap .mvp-fly-but-wrap{
	margin: 15px 15px 0 auto !important; 
}
.mvp-fly-but-wrap.mvp-fly-open span:nth-child(4),
.mvp-fly-but-wrap.mvp-fly-open span:first-child{
	display: none;
}
.mvp-fly-but-wrap.mvp-fly-open span:nth-child(2){
	top: 5px;
}
#sidebar .mvp-fly-but-wrap span:nth-child(2),
#sidebar .mvp-fly-but-wrap span:nth-child(3){
	display: block;
	width: 24px; 
}
#sidebar .mvp-fly-but-wrap span:nth-child(2){
	transform: rotate(45deg) translate(2px,-2px);
}
#sidebar .mvp-fly-but-wrap span:nth-child(3){
	transform: rotate(-45deg) translate(4px,-1px);
}
.mvp-fly-but-wrap.mvp-fly-open span:nth-child(3){
	display: block !important;
	top: 0;
}
.mvp-fly-but-wrap.mvp-fly-open span{
	position: relative !important;
	width: 25px !important;
	left: 2px;
}
#mvp-nav-small-left {
    margin: 10px 0 0;
    width: auto;
    height: auto;
}
.mvp-search-wrapp {
    margin-top: 20px;
}
#mvp-content-bot{
	font-family: 'Roboto', sans-serif;
	color: #000;
	float: left;
	font-weight: 700;
	margin-right: 10px;
}
#mvp-prev-next-wrap {
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
#mvp-prev-next-wrap span.mvp-prev-next-label {
    font-size: .7rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}
.mvp-prev-next-text p {
    color: #222 !important;
    float: left;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2;
    width: 100%;
}
span.mvp-next-arr{
	position: absolute;
	top: 50%;
	right: 0px;
	transform:translateY(-50%);
}
span.mvp-prev-arr{
	position: absolute;
	top: 50%;
	left: 0px; 
	transform:translateY(-50%);
}
span.mvp-prev-arr,
span.mvp-next-arr{
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
}
span.mvp-prev-arr:before{
	content: '';
	border-bottom: 5px solid #bbb;
	border-left: 5px solid #bbb;
	transform: rotate(45deg) translateY(-50%);
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 2px;
} 
.mvp-prev-cont-out{
	padding-left: 40px;
}
.mvp-next-cont-out{
	padding-right: 40px;
}
#mvp-prev-next-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.mvp-prev-post-wrap,
.mvp-next-post-wrap{
	width: calc((100% - 20px) / 2);
	float: none;
}
.mvp-next-post-wrap{
	order: 1; 
}
span.mvp-next-arr:after {
	content: '';
	border-top: 5px solid #bbb;
    border-right: 5px solid #bbb;
	transform: rotate(45deg) translateY(-50%);
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 50%;
	border-radius: 2px;
}
amp-sidebar,
amp-sidebar #mvp-fly-wrap{
	background: #fff !important;
}
#mvp-content-main p{
	font-size: 19px;
	line-height: 32px;
}
#mvp-content-main p:empty{
	display: none;
}
#mvp-post-feat-img{
	margin-bottom: 15px;
}
.mvp-prev-post-wrap [class*="-layout-fill"], 
.mvp-next-post-wrap [class*="-layout-fill"]{
	width: 100%;
	height: 192px; 
	object-fit: cover;
	object-position: top;
}
.mvp-prev-post-wrap  .thumb, 
.mvp-next-post-wrap .thumb{
	height: 192px;
	position: relative;
}
.mvp-prev-next-text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	
}
nav.mvp-fly-nav-menu ul li ul.sub-menu{
	padding-left: 20px; 
}

nav.mvp-fly-nav-menu ul li.menu-item-has-children{
	position: relative;
}
nav.mvp-fly-nav-menu .dropdown-toggle{
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	right: 0;
	top: 13px;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	border: none;
}
nav.mvp-fly-nav-menu .dropdown-toggle:before{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 4px;
	height: 15px;
	background: #0be6af; 
}
nav.mvp-fly-nav-menu .dropdown-toggle:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 4px;
	background: #0be6af;
}
nav.mvp-fly-nav-menu .dropdown-toggle.toggled-on + ul{
	display: block;
}
nav.mvp-fly-nav-menu .dropdown-toggle.toggled-on:before{
	opacity: 0;
}
nav.mvp-fly-nav-menu ul li ul.sub-menu li a{
	font-size: 12px;
	padding: 5px 0;
}
#mvp-fly-menu-top{
	height: 74px;
}
#mvp-content-main .expert-block {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: #F4FCDC;
    border: 1px solid #E5E7E2;
    border-radius: 3px;
}
#mvp-content-main .expert-block h3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
#mvp-content-main .expert-block h3::after {
    display: inline-block;
    content: "";
    margin-left: auto;
    width: 70px;
    height: 70px;
    background: transparent url('/wp-content/themes/zox-news-child/images/expertentipp.png') no-repeat center center/contain;
}
#ez-toc-container {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    display: table;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    width: auto;
	font-family: 'PT Serif', sans-serif;
}
#ez-toc-container p{
	margin-bottom: 0;
}
#ez-toc-container ul {
    margin: 0;
    font-size: 1.125rem;
    line-height: 2.11;
    counter-reset: item;
	list-style: none;
}
ul.mvp-post-more-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
ul.mvp-post-more-list > li{
	width: calc((100% - 40px) / 3 );
}
#ez-toc-container ul li{
	margin-left: 50px;
	padding: 5px 0px;
}
#ez-toc-container ul li a{
	color: #444;
}
#ez-toc-container ul li a::before{
    content: counters(item, ".") ". ";
    display: inline-block;
    counter-increment: item;
    margin-right: .2em; 
}
#search_form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
#mvp-nav-small-wrap{
	position: relative;
}
#search_form.active label{
	display: block;
}
#search_form input{
	height: 40px;
	width: 100%	;
	padding: 0 15px;
	border: 1px solid #999;
	border-radius:5px;
}
#search_form button{
	font-size: 0;
	position: relative;
	border: none;
	background-color: transparent;
	width: 27px;
	height: 27px;
	cursor: pointer;

}
#search_form label {
	width: 100%;
	position: absolute;
	right: 0;
	display: none;
	top: 60px;
	left: 0;
}
#search_form button:before{
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #000;
	position: absolute;
	top: 0;
	left: 0;
}
#search_form button:after{
	content: '';
	width: 12px;
	height: 3px;
	background: #000;
	position: absolute;
	top: 18px;
	left: 15px;
	transform: rotate(45deg);
}
#search_form.active {
    margin-bottom: 65px;
}
#mvp-main-body-wrap{
	margin-top: 20px !important;
}
.comment-form-author input {
    width: 100% !important;
    height: 36px;
    box-sizing: border-box;
	padding: 0 15px;
}
.comment-form-comment textarea{
	resize: none;
	width: 100% !important;
	box-sizing: border-box;
	padding: 10px 15px;
}
.comment-form-cookies-consent label{
	margin-left: 5px;
}
.comment-form-cookies-consent {
    display: flex;
    flex-direction: row;
}
.comment-form-author input:focus-visible,
.comment-form-comment textarea:focus-visible{
	box-shadow: none !important;
	outline:none !important;
} 
.form-submit input[type="submit"],
.comment-form-author label,
.comment-form-comment label{
	font-size: 18px !important;
}
.form-submit input[type="submit"]{
	background-color: #88c057 !important;
	height: 36px;
}
.form-submit input[type="submit"]:hover{
	background:  rgba(136, 192, 87,0.6) !important;
}
#respond #submit{
	border-radius: 0 !important;
}
#comments .c p{
	font-size: 18px !important;
}
nav.mvp-fly-nav-menu{
	height: calc(100vh - 200px) !important;
	overflow-y: auto;
}
amp-sidebar{
	overflow: hidden !important;
}
@media screen and (max-width: 660px) {
	ul.mvp-post-more-list {
		grid-gap: 30px 0px;
	}
	ul.mvp-post-more-list > li{
		width: 100%;
	}
	
}
@media screen and (max-width: 499px) {
	.mvp-prev-post-wrap,
	.mvp-next-post-wrap{
		width: 100%;
	}
	span.mvp-prev-arr:before,
	span.mvp-next-arr:after{
		display: none; 
	}
	.mvp-next-post-wrap {
		margin-top: 15px;
	} 
	.mvp-prev-cont-out{
		padding-left: 0px;
	}
	.mvp-next-cont-out{
		padding-right: 0px;
	}
	h1.mvp-post-title{
		font-size: 25px !important;
	}
	
	.mvp-prev-next-text,
	.mvp-prev-next-cont{
		width: 100% !important; 
	}
	.mvp-prev-next-cont > *{
		float: none;
	}
	#mvp-main-body-wrap {
		margin-top: 0px;
	}
}

#ez-toc-container ul li a::before {
	content:'';
}

.kksr-stars{
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}
.kksr-stars,
.kksr-stars-active,
.kksr-stars-inactive{
	display: flex;
	flex-direction: row;

}
.kk-star-ratings{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 40px;
}
.kksr-legend{
	margin-top: 5px;
}
.kksr-stars-active{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}


.kk-star-ratings.kksr-disabled .kksr-stars .kksr-stars-active .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-star .kksr-icon {
	background-image: url(/wp-content/themes/zox-news-child/images/selected.svg);
}
.wp-faq-schema-wrap h3 .ez-toc-section{
	width: 50px;
	height: 50px;
	background-image: url(/wp-content/themes/zox-news-child/images/haeufige-fragen.png);
	display: inline-block;
	position: relative;
	background-size: contain;
}
#rating{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 50px;
}
#rating .rating{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
}

#rating .rating label{
	font-size: 0;
	width: 20px;
	height: 20px;
	background-image: url(/wp-content/themes/zox-news-child/images/active.svg);
	background-size: contain;
	margin-left: 5px;
	cursor: pointer;
}
#rating  .kksr-legend-amp{
	line-height: 1;
	margin-top: 3px;
}
#rating .rating input[checked=""] + label ~ label,
#rating .rating input:checked + label ~ label {
	background-image: url(/wp-content/themes/zox-news-child/images/inactive.svg);
}

#rating.zero label{
	background-image: url(/wp-content/themes/zox-news-child/images/inactive.svg) !important;
}
#rating .rating input{
	display: none;
}
.submit-error p.error{
	color: #d63638 !important;
	display: inline !important;
	margin-left: 20px;
}
.submit-success p.success{
	color: #6db644 !important;
	display: inline !important;
	margin-left: 20px;
}